%h1 Remove Route Handler

%p
  Are you sure you want to 
  %strong.warning permanently remove
  the following route handler?

- form_for [:admin, model], :html => {:method => :delete} do
  %ul
    %li= submit_tag("Delete Route Handler")
    %li= link_to 'Cancel', admin_route_handlers_path